:global {
  @include react-md-toolbars;

  .header-primary {
    &.md-background--primary {
      background: $duskGray;
    }
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $containerMaxWidth;
  margin: 0 auto;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.site-logo {
  width: 228px;
  margin-left: $minPadding;
}

.page-progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

